* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
}

/* contact card */

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  display: flex;
}

.contact-info p {
  font-size: 1.2rem;
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

div.main form input:focus {
  box-shadow: none;
  outline: none;
}

/* form */
.main:hover {
  border: 1px solid #27ae60;
  border-radius: 12px;
}

/* contacts list */
.contacts-list {
  display: flex;
  flex-direction: column;
}

.contacts-list button.clear-btn {
  width: 30%;
  margin: auto;
  margin-top: 40px;
}

div.contacts-list input:focus {
  box-shadow: none;
  outline: none;
}

button.btn:focus {
  outline: none;
  box-shadow: none;
}

button.hidden {
  display: none;
}
